<header id="navbar-spy" class="header header-1">

  <nav id="primary-menu" class="navbar navbar-fixed-top">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#header-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="/">
          <img src="/images/logo.png" alt="Autoshop" />
        </a>
      </div>

      <div class="collapse navbar-collapse pull-right" id="header-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="active">
            <a href="/">Home</a>
          </li>

          <li class="">
            <a href="/shop">shop</a>

          </li>

          <li>
            <a href="/about">about</a>
          </li>

          <li>
            <a href="/wishlist"><i class="bi bi-heart-fill" style="color: red;"></i></a>
          </li>

          <li>
          <div class="module module-cart ">
            <div class="cart-icon">
              <a href="/cart" style="color: #404040;">
              <i class="fa fa-shopping-cart"></i>
                <span class="title">shop cart</span>
              </a>
              {{#gte cartCount '0'}}
              <span class="cart-label" id="cartCount">{{cartCount}}</span>
              {{/gte}}
            </div>
          </div>
          </li>


          
          <div class="module module-search pull-left">
            <div class="search-icon" data-toggle="modal" data-target="#searchModal">
              
              <i class="fa fa-search"></i>
              
              <span class="title">search</span>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">


                    <div class="">
                      <form class="search-form">
                        <div class="input-group">
                          <div class="row">


                            <div class="input-group">
                              <input type="text" class="form-control" id="searchKey"
                                placeholder="Type Your Search Words" style="display: inline;" />
                              <span class="input-group-btn">
                                <label for="searchKey" class="btn" onclick="search()"><i class="fa fa-search"
                                    style="display: inline;color: black;"></i></label>
                              </span>
                            </div>

                            {{!-- <input type="text" class="form-control" id="searchKey"
                              placeholder="Type Your Search Words" style="display: inline;" />
                            <label for="searchKey" class="btn btn-success" onclick="search()"><i class="fa fa-search"
                                style="display: inline;"></i></label> --}}

                          </div>
                        </div>

                        {{!-- Search Result --}}
                        <div>
                          <div id="list">

                          </div>
                          <div id="searchRsltErr">

                          </div>
                        </div>
                        {{!-- Search Result ends --}}
                      </form>
                    </div>

                    {{!-- Script For searching --}}
                    <script>
                      function search() {
                        var searchKey = document.getElementById('searchKey').value

                        if (searchKey != '') {
                          document.getElementById('list').innerHTML = ''

                          $.ajax({
                            url: '/search',
                            data: {
                              key: searchKey,
                            },
                            method: 'post',
                            success: (response) => {

                              document.getElementById('searchRsltErr').style.display = 'none'

                              if (response.length > 0) {
                                var result = []
                                for (i = 0; i < response.length; i++) {
                                  result[i] = { name: response[i].productname, id: response[i]._id }
                                }



                                var atag = []
                                for (i = 0; i < result.length; i++) {

                                  atag[i] = document.createElement('a')
                                  atag[i].setAttribute('id', `${result[i].id}`);
                                  atag[i].innerHTML = `<img src="/uploads/${result[i].id}__1.jpg"  style="height: 50px;float:left;border-radius:80px" alt="">${result[i].name}`
                                  atag[i].setAttribute('style', 'margin-left: 25px')
                                  atag[i].href = `/productview/${result[i].id}`

                                  $("#list").append(atag[i]);
                                  $("#list").append(`<hr>`)
                                  $("#list").append(`<br>`)
                                }
                              } else {
                                document.getElementById('list').innerHTML = ''
                                document.getElementById('searchRsltErr').style.display = 'block'
                                document.getElementById('searchRsltErr').innerHTML = '<span style="color:red">No items match your search</span>'
                              }
                            }
                          })
                        } else {
                          document.getElementById('list').innerHTML = ''
                          document.getElementById('searchRsltErr').style.display = 'block'
                          document.getElementById('searchRsltErr').innerHTML = '<span style="color:red">Please enter any key to search</span>'
                        }
                      }
                    </script>
                    {{!-- Script For searching ends --}}

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <li class="has-dropdown module pull-right">

            {{#if currentUser}}
            <a data-toggle="dropdown" class="dropdown-toggle">Hi, {{currentUser.username}}<img
                style="border-radius: 40px;height: 37px;margin-left: 30px;width: 37px;"
                src="/profileImages/{{currentUser.userId}}1.jpg" alt=""></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/userprofile">Profile</a>
              </li>
              <li>
                <a href="/yourorders">Orders</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
            {{else}}
            <a data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-user"></i></a>
            <ul class="dropdown-menu">
              <li>
                <a href="/login">Login</a>
              </li>
              <li>
                <a href="/signup">Sign Up</a>
              </li>
            </ul>
            {{/if}}


          </li>
        </ul>





      </div>

    </div>

  </nav>
</header>