<section id="featured1" class="featured featured-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="heading">
                    <p class="subheading">History</p>
                    <h2>The Company</h2>
                </div>

                <div class="about-accordion">
                    <div class="panel-group accordion" id="accordion02" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" role="button" data-toggle="collapse"
                                        data-parent="#accordion02" href="#collapse02-1" aria-expanded="true"
                                        aria-controls="collapse02-1">About COMPANY</a>
                                    <span class="icon"></span>
                                </h4>
                            </div>
                            <div id="collapse02-1" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingOne" aria-expanded="false">
                                <div class="panel-body">
                                    <div class="pull-left pr-30">
                                        <img src="assets/images/shortcode/2.jpg" alt="about">
                                    </div>
                                    <div> Like many great ideas, Bandidos was born out of necessity. The Bandidos story
                                        started with 4 passionate riders getting
                                        together in 2014. Between the 4 of them, their motorcycling experience included
                                        professional racing & stunt shows,
                                        adventure riding, touring and the usual daily commuting. Since then, Bandidos
                                        Pitstop has grown from a small brick &
                                        mortar store in Thrissur (Kerala) to one of the most respected brands and online
                                        destinations for mid-range and premium
                                        motorcycle accessories in India

                                        Motorcycling by its very nature is something that creates a very special bond
                                        amongst everyone passionate about it, a
                                        bond deeply rooted in shared experiences. Today with an online community of more
                                        than 3,19,000 loyal followers and
                                        counting, Bandidos is dedicated to providing new and experienced riders with
                                        world-class expertise, innovation,
                                        community, service, and support. </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion02" href="#collapse02-2" aria-expanded="false"
                                        aria-controls="collapse02-2"> Our Mission </a>
                                </h4>
                            </div>
                            <div id="collapse02-2" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo" aria-expanded="false">
                                <div class="panel-body"> Our mission is to produce and continually develop quality
                                    products at a competitive price by getting it right the first
                                    time itself. We utilise proprietary technology and the expertise of our team members
                                    which made us the pioneers of
                                    organising the motorcycle accessories segment in India. Our forward-looking
                                    processes of coordinating assets to optimise
                                    delivery has helped us create a substantial online presence in all marketplaces. We
                                    continue to innovate and develop new
                                    approaches that will help us grow our customer base and achieve our target of more
                                    than 20 million riders by 2024. </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion02" href="#collapse02-3" aria-expanded="false"
                                        aria-controls="collapse02-3">Our VISION</a>
                                </h4>
                            </div>
                            <div id="collapse02-3" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree" aria-expanded="true">
                                <div class="panel-body"> To become the leader in Mid-Range & Premium Motorcycle
                                    accessories' segment in India by inspiring and enhancing the
                                    motorcycling experiences of 20 Million riders by 2024. </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion02" href="#collapse02-4" aria-expanded="false"
                                        aria-controls="collapse02-4"> Our Goals </a>
                                </h4>
                            </div>
                            <div id="collapse02-4" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree" aria-expanded="true">
                                <div class="panel-body"> We believe in building positive long-term relationships with
                                    our suppliers, staff, and customers. We run various
                                    programs to help new riders become better riders and also ignite the passion of
                                    riding in people who are yet to discover
                                    their love for riding. We also work with many amateur and professional racers to
                                    help them find a solid footing in the
                                    developing world of Indian motorsports. </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="heading">
                    <p class="subheading">We Are Good</p>
                    <h2>Key Milestones</h2>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel">
                            <div class="feature-icon">2014

                            </div>
                            <br>
                            <p>Our retail store launched in Thrissur, Kerala
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel">
                            <div class="feature-icon">2016

                            </div><br>

                            <p>Started wholesale distribution network in Kerala
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel mb-0">
                            <div class="feature-icon">2018

                            </div>
                            <br>
                            <p>Rideofy Organized India’s largest Dirt Race - Dirt Xtreme with live freestyle show</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="feature-panel mb-0">
                            <div class="feature-icon">
                                2020
                            </div>
                            <br>
                            <p>Our co-founder Mahesh creates history by winning 3 National Championships in a single
                                event
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>